{% set ruby = salt['grains.filter_by']({
    'Debian': {
        'package': 'ruby2.2',
        'package_dev': 'ruby2.2-dev',
        'package_bundler': 'bundler',
        'install_from_source': False,
    },
    'RedHat': {
        'package': 'ruby193-ruby',
        'package_dev': 'ruby193-ruby-devel',
        'package_bundler': 'ruby193-rubygem-bundler',
        'install_from_source': Fale,
    },
}, merge=salt['pillar.get']('ruby')) %}